// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
    font-size: 3em;
    font-weight: 200;
    margin: 30px 0;
}
.btn{
  background-color: #2E72BD;
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 12px 26px;
  &:hover {
    background-color: #286090;
    transition: background-color,.5s;
  }
}
.home-main {
  height: 700px;
  background: url("https://hd.unsplash.com/photo-1425342605259-25d80e320565") no-repeat center center;
  background-size: cover;
  .content{
    position: relative;
    top: 150px;
    text-align: center;
    h1{
      color: #fff;
      font-weight: 200;
      font-size: 5em;
      text-shadow: 0 2px 3px rgba(0,0,0,0.4);
      margin-bottom: 30px;
    }
  }
}
.home-supporting {
  padding: 80px 0;
  text-align: center;
  p{
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 1.2px;
  }
}
.home-secondary{
  height: 500px;
  background: url("https://hd.unsplash.com/photo-1459603677915-a62079ffd002") no-repeat center center;
  background-size: cover;
}
.home-discover{
  padding: 80px 0;
  text-align: center;
}
.footer{
  background-color: #F9F9F9;
  padding: 40px 0;
  text-align: center;
  p{
    font-size: .8em;
    color:#cecece;
  }
}