// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
      color: #fff;
      font-weight: 200;
      font-size: 5em;
      text-shadow: 0 2px 3px rgba(0,0,0,0.4);
      margin-bottom: 30px;
    }
h2{
    font-size: 3em;
    font-weight: 200;
    margin: 30px 0;
}
p{
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 1.2px;
}
.icon-menu{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 24px;
    cursor: pointer;
}
.btn{
  background-color: #2E72BD;
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 12px 26px;
  margin-top: 20px;
  &:hover {
    background-color: #286090;
    transition: background-color,.5s;
  }
}
.main {
 	  height: 700px;
    .content{
    position: relative;
    top: 150px;
    text-align: center;
  }
}
.home-main {
  background: url("https://hd.unsplash.com/photo-1425342605259-25d80e320565") no-repeat center center;
  background-size: cover;
}
.supporting {
  padding: 80px 0;
  text-align: center; 
}
.home-secondary{
  height: 500px;
  background: url("https://hd.unsplash.com/photo-1459603677915-a62079ffd002") no-repeat center center;
  background-size: cover;
}
.home-discover{
  padding: 80px 0;
  text-align: center;
}
.footer{
  background-color: #F9F9F9;
  padding: 40px 0;
  text-align: center;
  p{
    font-size: .8em;
    color:#cecece;
  }
}
.menu{
  background-color: #000;
  height: 100%;
  width: 240px;
  position: fixed;
  top:0;
  z-index: 1;
  left: -240px;
  ul{
    list-style: none;
    padding-left: 0;
    a{
      color: #fff;
      display: block;
      font-size: 18px;
      font-weight: 100;
      padding:30px 40px;
      text-decoration: none;
    }
  }
  img{
    width: 24px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    
  }
}
.about-main{
  background: url("https://hd.unsplash.com/reserve/91JuTaUSKaMh2yjB1C4A_IMG_9284.jpg") no-repeat center center;
  background-size: cover;
}